.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.col-md-4 col-md-offset-4{
    text-align:center;
    margin: auto;
    width: 50%;
}

form{
    border:4px solid black;
    padding:10px 10px 10px 10px;
    background-color: black;
}

form label{
    text-align:left;
    color:white;
}

body{
    background-color:whitesmoke;
    background-image: url('../images/library_interior.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-4 col-md-offset-4{
        text-align: center;
}

.radio-container{
    border-color: black;
    font-size: 20px;
    border: 4px solid black;
    background-color: rgb(241, 185, 133);
    text-align: center;
    margin: auto;
    width: 60%;
}

.radio-container label{
    margin: 2%;
    margin-left: 5%;
}

#button {
    width: 20px;
    height: 20px;
}

h2{
    color:rgb(255, 246, 246);
    text-align: center;
}

#myInput {
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    margin: auto;
    width: 50%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-top: 10px;
    margin-bottom: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white !important;
}

tr{
    background-color: #4CAF50;
}

tr:hover{
    background-color: #018105 !important;
}

a {
    color: rgb(252, 252, 252);
    font-size: large;
}

.option-css{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 70%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}