
body{
    background-size: cover; 
    box-sizing: border-box; 
    background-image: linear-gradient(180deg, rgba(0, 30, 53, 0.75), rgba(0, 30, 53, 0.75)), url('static/image/allback.jpg');
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white !important;
}

tr{
    background-color: #4CAF50;
}

tr:hover{
    background-color: #018105 !important;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.radio-container{
    border-color: black;
    font-size: 20px;
    border: 4px solid black;
    background-color: rgb(241, 185, 133);
    text-align: center;
    margin: auto;
    width: 60%;
}

.radio-container label{
    margin: 2%;
    margin-left: 5%;
}

#button {
    width: 20px;
    height: 20px;
}