<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Adminpage</title>
        <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    </head>
    <body>
        <h1>LIBRARY MANAGEMENT SYSTEM</h1>
        <h2>Welcome to Admin Page</h2>
        <div>
            <a class="button" href="{{ url_for('add_book') }}">Add Resource</a>
            <a class="button" href="{{ url_for('delete_book') }}">Delete Resource</a>
            <a class="button" href="{{ url_for('display', title='Books') }}">Catalogue</a>
            <a class="button" href="{{ url_for('issue') }}">Issue</a>
            <a class="button" href="">Return</a>
        </div>
        <footer>
            <p>Developed by: Piyush and Vishal</p>
        </footer>
    </body>
</html>