<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete_Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/admin_func.css"> 
</head>
<body>
    <nav class="topnav">
        <a class = "active" href="/adminpage">Admin Page</a>
    </nav>
    <div class="radio-container">
        <label for="book">Book</label>
        <input type="radio" name="radio" value="radio1" checked/>
        
        <label for="cd">CD</label>
        <input type="radio" name="radio" value="radio2"/>

        <label for="magazine">Magazine</label>
        <input type="radio" name="radio" value="radio3"/>

        <label for="journal">Journal</label>
        <input type="radio" name="radio" value="radio4">
    </div><br>

    <center>
        <div id="form1" class="col-md-4 col-md-offset-4">
            <form method="POST" action="{{ url_for('delete_book') }}">
                <h2>Delete a Book</h2>
                <div class="mb-3">
                    <label for="exampleInputEmail1">Book Id</label>
                    <input type="integer" class="form-control" id="exampleInputName1" name="id" placeholder="Enter book Id">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            {% if text %}
                <h3 style="text-align: center; color: green; background-color: blanchedalmond;">{{ text }}</h3>
                <br>
                <a href="{{url_for('display', title = 'Books')}}">See the updated catalogue....</a>
            {% endif %}
         </div>

         <div id="form2" class="col-md-4 col-md-offset-4">
            <form method="POST" action="{{ url_for('delete_cd') }}">
                <h2>Delete a CD</h2>
                <div class="mb-3">
                    <label for="exampleInputEmail1">CD Id</label>
                    <input type="integer" class="form-control" id="exampleInputName1" name="id" placeholder="Enter CD Id">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            {% if text %}
                <h3 style="text-align: center; color: green; background-color: blanchedalmond;">{{ text }}</h3>
                <br>
                <a href="{{url_for('display', title = 'CD')}}">See the updated catalogue....</a>
            {% endif %}
         </div>

         <div id="form3" class="col-md-4 col-md-offset-4">
            <form method="POST" action="{{ url_for('delete_magz') }}">
                <h2>Delete a Magazine</h2>
                <div class="mb-3">
                    <label for="exampleInputEmail1">Magazine Id</label>
                    <input type="integer" class="form-control" id="exampleInputName1" name="id" placeholder="Enter Magazine Id">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            {% if text %}
                <h3 style="text-align: center; color: green; background-color: blanchedalmond;">{{ text }}</h3>
                <br>
                <a href="{{url_for('display', title = 'Magazine')}}">See the updated catalogue....</a>
            {% endif %}
         </div>

         <div id="form4" class="col-md-4 col-md-offset-4">
            <form method="POST" action="{{ url_for('delete_journal') }}">
                <h2>Delete a Journal</h2>
                <div class="mb-3">
                    <label for="exampleInputEmail1">Journal Id</label>
                    <input type="integer" class="form-control" id="exampleInputName1" name="id" placeholder="Enter Journal Id">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            {% if text %}
                <h3 style="text-align: center; color: green; background-color: blanchedalmond;">{{ text }}</h3>
                <br>
                <a href="{{url_for('display', title = 'Journal')}}">See the updated catalogue....</a>
            {% endif %}
         </div>
    </center>
    <script>
        var radios = document.getElementsByName("radio");
        var abook = document.getElementById("form1");
        var acd = document.getElementById("form2");
        var amagz = document.getElementById("form3");
        var ajour = document.getElementById("form4");
 
        abook.style.display = 'block';
        acd.style.display = 'none';
        amagz.style.display = 'none';
        ajour.style.display = 'none';

        for(var i = 0; i < radios.length; i++) {
            radios[i].onclick = function() {
                var val = this.value;
                if(val == 'radio1'){  
                    abook.style.display = 'block';
                    acd.style.display = 'none';
                    amagz.style.display = 'none';
                    ajour.style.display = 'none';
                }
                else if(val == 'radio2'){
                    abook.style.display = 'none';
                    acd.style.display = 'block';
                    amagz.style.display = 'none';
                    ajour.style.display = 'none';
                }   
                else if(val == 'radio3'){
                    abook.style.display = 'none';
                    acd.style.display = 'none';
                    amagz.style.display = 'block';
                    ajour.style.display = 'none';
                } 
                else if(val == 'radio4'){
                    abook.style.display = 'none';
                    acd.style.display = 'none';
                    amagz.style.display = 'none';
                    ajour.style.display = 'block';
                }
            }
        }
    </script>

</body>