<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Issue</title>
        <link rel="stylesheet" type="text/css" href="../static/css/issue_ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="topnav">
            <a class = "active" href="/">Home</a>
        </nav>
        <h1>Issue material to the User</h1>
        <center>
            <div class="col-md-4 col-md-offset-4">
                <h2>Enter username of the Issuer</h2>
                <form method="POST" action="">
                    <div class="mb-3">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="name" class="form-control" id="exampleInputName1" name="username" placeholder="Enter Username here">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <h2 style="color: white;">User details</h2>
            <div >
    
            <table class="table table-hover" style='width: 700px;'>
            <thead class="thead-dark">
                <tr>
                <th scope="col"><b>Username</b></th>
                <th scope="col"><b>User Id</b></th>
                <th scope="col"><b>First Name</b></th>
                <th scope="col"><b>Last Name</b></th>
                <th scope="col"><b>Email</b></th>
                </tr>
            </thead>
            <tbody>
            {% for row in user %}
                <tr>
                <th scope="row">{{ row[0] }}</th>
                <td><b>{{ row[1] }}</b></td>
                <td><b>{{ row[2] }}</b></td>
                <td><b>{{ row[3] }}</b></td>
                <td><b>{{ row[4] }}</b></td>    
                </tr>
            {% endfor %}
            </tbody>
            </table>
    
        </div>
        </center>

    </body>
</html>