<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reserve</title>
        <link rel="stylesheet" type="text/css" href="../static/css/issue_ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <style>
            body{
                background-image: linear-gradient(#ff928b, #ffac81);
            }
            .radio-container{
                border-color: black;
                font-size: 20px;
                border: 4px solid black;
                background-color: rgb(241, 185, 133);
                text-align: center;
                margin: auto;
                width: 60%;
            }
            .radio-container label{
                margin: 2%;
                margin-left: 5%;
            }
            form{
                border:4px solid black;
                padding:10px 10px 10px 10px;
                background-color: black;
                border-radius: 10px;
                padding: 5%;
            }
            td{
                border-width: 0px;
                padding-top: 10px;
            }
            form label{
                text-align:left;
                color:white;
                border-width: 0px;
            }
            .BookDetails{
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
                border-radius: 10px;
            }
            .BookDetails tr:nth-child(even){
                background-color: #f1d1d1;
            }
            .BookDetails tr:nth-child(odd){
                background-color: #f3e1e1;
            }
            .row1{
                background-color: #8675a9;
            }
            .heading{
                padding: 10px;
                border: 1px solid black;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <nav class="topnav">
            <a class = "active" href="{{ url_for('studentdashboard') }}" style="border-width: 0px;">Home</a>
        </nav>
        <div class="radio-container">
            <label for="book">Book</label>
            <input type="radio" name="radio" value="radio1" checked/>
            
            <label for="cd">CD</label>
            <input type="radio" name="radio" value="radio2"/>
        </div><br>
        <center>
            <div id="div1" class="col-md-4 col-md-offset-4">
                
                <form id="form1" method="POST" action="{{ url_for('resv_book') }}" id="issue">
                    <h2 style="color: white;">Reserve book</h2>
                    <div class="mb-3">
                        <table>
                          <tr>
                            <td>
                              <label for="username" style="padding-top: 15px;">Username: </label>
                            </td>
                            <td>
                                <input type="varchar" class="form-control" id="exampleInputEmailexampleInputEmail1" name="username" placeholder="Enter Username" required>
                            </td>
                          </tr>
              
                          <tr>
                            <td>
                                <label for="bookid" style="padding-top: 15px;">ID of Book to be reserved: </label>
                              </td>
                              <td>
                                  <input type="int" class="form-control" id="exampleInputEmailexampleInputEmail1" name="bookid" placeholder="Enter BookId" required>
                              </td>
                          </tr>
                          <tr>
                            <td>
                                <label for="date" style="padding-top: 15px;">Date of reservation </label>
                              </td>
                              <td>
                                  <input type="date" class="form-control" id="exampleInputEmailexampleInputEmail1" name="date" placeholder="Enter Date" required>
                              </td>
                          </tr>
                        </table>
                          
                    </div>
              
                    <button type="submit" class="btn btn-primary">Reserve</button>
                </form>
                {% if text1 %}
                    <h3 style="text-align: center; color: green;">{{ text1 }}</h3>
                {% endif %}
            </div>
            <div id="div2" class="col-md-4 col-md-offset-4">
                <form id="form2" method="POST" action="{{ url_for('resv_cd') }}" id="issue">
                    <h2 style="color: white;">Reserve CD</h2>
                    <div class="mb-3">
                        <table>
                          <tr>
                            <td>
                              <label for="username">Username: </label>
                            </td>
                            <td>
                                <input type="varchar" class="form-control" id="exampleInputEmailexampleInputEmail1" name="username" placeholder="Enter Username" required>
                            </td>
                          </tr>
              
                          <tr>
                            <td>
                                <label for="cdid">ID of CD to be reserved: </label>
                              </td>
                              <td>
                                  <input type="int" class="form-control" id="exampleInputEmailexampleInputEmail1" name="cdid" placeholder="Enter CD Id" required>
                              </td>
                          </tr>
                          <tr>
                            <td>
                                <label for="date">Date of reservation </label>
                              </td>
                              <td>
                                  <input type="date" class="form-control" id="exampleInputEmailexampleInputEmail1" name="date" placeholder="Enter Date" required>
                              </td>
                          </tr>
                        </table>
                          
                    </div>
              
                    <button type="submit" class="btn btn-primary">Reserve</button>
                </form><br>
                {% if text1 %}
                    <h3 style="text-align: center; color: green;">{{ text1 }}</h3>
                {% endif %}
            </div><br>
            <div id="div3">
                <div id="div3a" class="col-md-4 col-md-offset-4">
                    <div >
                        <form method="POST" id="form1" action="{{ url_for('search_book') }}">
                            <h2 style="color: white;">Search book</h2>
                            <div class="mb-3">
                                <label for="bookname">Book Name</label>
                                <input type="text" class="form-control" name="bookname" placeholder="Enter Book Name">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">search</button>
                            
                        </form>
                    </div>
                    {% if text2 %}
                        <h3 style="text-align: center; color: green;">{{ text2 }}</h3>
                    {% endif %}
                </div>
                <div class="container" id="div3b">
                    <br>
                    <h3>Book Details</h3>
                    <div class="table-responsive">
                        <table class="BookDetails">
                            <tr class="row1" style="background-color: #8675a9;">
                                <th class="heading">Book ID</th>
                                <th class="heading">Title</th>
                                <th class="heading">Author</th>
                                <th class="heading">Genre</th>
                                <th class="heading">Publisher</th>
                                <th class="heading">Price</th>
                                
                            </tr>

                            {% if rec %}
                            <tr class="row12">
                                <td class="heading">{{ rec[0] }}</td>
                                <td class="heading">{{ rec[1] }}</td>
                                <td class="heading">{{ rec[2] }}</td>
                                <td class="heading">{{ rec[3] }}</td>
                                <td class="heading">{{ rec[4] }}</td>
                                <td class="heading">{{ rec[5] }}</td>
                                
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div id="div4">
                <div id="div4a" class="col-md-4 col-md-offset-4">
                    <div>
                        <form method="POST" id="form2" action="{{ url_for('search_cd') }}">
                            <h2 style="color: white;">Search CD</h2>
                    
                            <div class="mb-3">
                                <label for="cdname">CD Name</label>
                                <input type="text" class="form-control" name="cdname" placeholder="Enter CD Name">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            
                            <button type="submit" class="btn btn-primary" >search</button>
                            
                        </form>
                    </div>
                    {% if text2 %}
                        <h3 style="text-align: center; color: green;">{{ text2 }}</h3>
                    {% endif %}
                </div>
                
                <div class="container" id="div4b">
                    <br>
                    <h3>CD Details</h3>
                    <div class="table-responsive">
                        <table class="BookDetails">
                            <tr class="row1" style="background-color: #8675a9;">
                                <th class="heading">CD ID</th>
                                <th class="heading">Title</th>
                                <th class="heading">Author</th>
                                <th class="heading">Genre</th>
                                <th class="heading">Company</th>
                                <th class="heading">CD Type</th>
                                <th class="heading">Price</th>
                                
                            </tr>

                            {% if rec2 %}
                            <tr class="row12">
                                <td class="heading">{{ rec2[0] }}</td>
                                <td class="heading">{{ rec2[1] }}</td>
                                <td class="heading">{{ rec2[2] }}</td>
                                <td class="heading">{{ rec2[3] }}</td>
                                <td class="heading">{{ rec2[4] }}</td>
                                <td class="heading">{{ rec2[5] }}</td>
                                <td class="heading">{{ rec2[6] }}</td>
                                
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        </center>
        <script>
            var radios = document.getElementsByName("radio");
            var abook = document.getElementById("div1");
            var acd = document.getElementById("div2");
            var sbook = document.getElementById("div3");
            var scd = document.getElementById("div4");
            
            abook.style.display = 'block';
            acd.style.display = 'none';
            sbook.style.display = 'block';
            scd.style.display = 'none';
            
            for(var i = 0; i < radios.length; i++) {
                radios[i].onclick = function() {
                    var val = this.value;
                    if(val == 'radio1'){  
                        abook.style.display = 'block';
                        acd.style.display = 'none';
                        sbook.style.display = 'block';
                        scd.style.display = 'none';
                    }
                    else if(val == 'radio2'){
                        abook.style.display = 'none';
                        acd.style.display = 'block';
                        scd.style.display = 'block';
                        sbook.style.display = 'none';
                    }   
                }
            }

            
        </script>
    </body>
</html>