<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Return</title>
        <link rel="stylesheet" type="text/css" href="../static/css/issue_ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="topnav">
            <a class = "active" href="/adminpage">Admin Page</a>
        </nav>
        <div class="radio-container">
            <label for="book">Book</label>
            <input id="button" type="radio" name="radio" value="radio1" checked/>
            
            <label for="cd">CD</label>
            <input id="button" type="radio" name="radio" value="radio2"/>
        </div><br>
        <center>
            <div id="div1" class="col-md-4 col-md-offset-4">
                <h2>Return book</h2>
                <form id="form1" method="POST" action="{{ url_for('return_book') }}" id="return">
                    <div class="mb-3">
                        <table>
                          <tr>
                            <td>
                                <label for="bookid">ID of Book to be returned: <span class='required'>*</span> </label>
                              </td>
                              <td>
                                  <input type="int" class="form-control" id="exampleInputEmailexampleInputEmail1" name="bookid" placeholder="Enter BookId" required>
                              </td>
                          </tr>
                        </table>
                          
                    </div>
              
                    <button type="submit" class="btn btn-primary">Return</button>
                </form>
                <label for="Required" class="required">* Required</label>
                {% if text %}
                    <h3 style="text-align: center; color: green;">{{ text }}</h3>
                {% endif %}
            </div>
            <div id="div2" class="col-md-4 col-md-offset-4">
                <h2>Return CD</h2>
                <form id="form2" method="POST" action="{{ url_for('return_cd') }}" id="return">
                    <div class="mb-3">
                        <table>
              
                          <tr>
                            <td>
                                <label for="cdid">ID of CD to be returned: <span class='required'>*</span> </label>
                              </td>
                              <td>
                                  <input type="int" class="form-control" id="exampleInputEmailexampleInputEmail1" name="cdid" placeholder="Enter CD Id" required>
                              </td>
                          </tr>
                        </table>
                          
                    </div>
              
                    <button type="submit" class="btn btn-primary">Return</button>
                </form>
                <label for="Required" class="required">* Required</label>
                {% if text %}
                    <h3 style="text-align: center; color: green;">{{ text }}</h3>
                {% endif %}
            </div>
        </center>
        <script>
            var radios = document.getElementsByName("radio");
            var abook = document.getElementById("div1");
            var acd = document.getElementById("div2");
            
            abook.style.display = 'block';
            acd.style.display = 'none';

            for(var i = 0; i < radios.length; i++) {
                radios[i].onclick = function() {
                    var val = this.value;
                    if(val == 'radio1'){  
                        abook.style.display = 'block';
                        acd.style.display = 'none';
                        amagz.style.display = 'none';
                        ajour.style.display = 'none';
                    }
                    else if(val == 'radio2'){
                        abook.style.display = 'none';
                        acd.style.display = 'block';
                        amagz.style.display = 'none';
                        ajour.style.display = 'none';
                    }   
                }
            }
        </script>
    </body>
</html>