<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/signin.css">
    </head>
    <body>

        <center>
            <div class="container">
                <label>User
                <input id="button"  type="radio" name="radio" value="radio1" checked/>
                </label>  
                <label>&nbsp&nbsp&nbsp&nbsp&nbspAdmin
                <input id="button" type="radio" name="radio" value="radio2"/>
                </label>
              </div><br>
            <div class="col-md-4 col-md-offset-4">
                <br><br>
                <br>
                <form method="POST" id="form1" action="{{ url_for('signin_user') }}">
                <h1 style="color: white;">User Signin</h1>
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="upassword" placeholder="Enter password"><br>
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                
                <button type="submit" class="btn btn-primary">submit</button>
                </form> 
                
                <form method="POST" id="form2" action="{{ url_for('signin_admin') }}">
                    <h1 style="color: white;">Admin Signin</h1>
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="adminname" placeholder="Enter username">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="apassword" placeholder="Enter password"><br>
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" >submit</button>
                    
                </form>
                {% if text %}

                    <h3 style="text-align: center; color: rgb(255, 255, 255);">{{ text }}</h3>

                {% endif %}
            </div>
        </center>
        <script>
            var radios = document.getElementsByName("radio");
            var auser = document.getElementById("form1");
            var aadmin = document.getElementById("form2");

            
            auser.style.display = 'block';
            aadmin.style.display = 'none';
    

            for(var i = 0; i < radios.length; i++) {
                radios[i].onclick = function() {
                    var val = this.value;
                    if(val == 'radio1'){  
                        auser.style.display = 'block';
                        aadmin.style.display = 'none';
                    }
                    else if(val == 'radio2'){
                        auser.style.display = 'none';
                        aadmin.style.display = 'block';
                    }   
                    
                }
            }
        </script> 
    </body>
</html>