<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <title>Student Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/student_dashboard.css">
        
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <h2 style="text-align: center;">{{ message }}</h2>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <center>
            <div class="container" id="full" >
                <h1>Welcome {{ record[0] }}</h1><br>
                <h3>Student Details</h3>
                <div>
                    <div class="table-responsive">
                        <table class="container" id="studettable">
                            {% if record %}
                            <tr>
                                <th class="studet">Name:</th>
                                <td class="studet">{{ record[0] }} {{ record[3] }}</td>
                                
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                                <th class="studet">Username:</th>
                                <td class="studet">{{ record[4] }}</td>
                        
                            </tr>
                            <tr>
                                <th class="studet">Phone no:</th>
                                <td  class="studet">{{ record[1] }}</td>
                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                                <th class="studet">Email:</th>
                                <td class="studet">{{ record[2] }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div><br><br>
                <center>
                <div class="container" style="width: 100%; ">
                    <ul>
                        <li style="cursor:default; "><a href="{{ url_for('reserve1') }}" style="color: white;">Reservation</a></li>
                        <li><a style="cursor: pointer; color: white;" href="{{ url_for('display2') }}">Catalogue</a></li>
                        <li><a style="cursor: pointer; color: white;" href="{{ url_for('aboutus') }}">About Us</a></li>
                        <li><a style="cursor: pointer; color: white;" href="{{ url_for('homepage') }}">Sign Out</a></li>
                    </ul>
                </div>
                </center>
                <br><br><br><br>
                <div class="radio-container" style="clear: both;">
                    <label for="book">Book</label>
                    <input type="radio" name="radio" value="radio1" checked/>
                    
                    <label for="cd">CD</label>
                    <input type="radio" name="radio" value="radio2"/>
                </div><br>
                <div id=form1>
                    <div class="container" style="clear: both;">
                        <br>
                        <h3>Book Details</h3>
                        <div class="table-responsive">
                            <table class="BookDetails">
                                <tr class="row1" style="background-color: rgb(166, 107, 221);">
                                    <th class="heading">Book ID</th>
                                    <th class="heading">Title</th>
                                    <th class="heading">Author</th>
                                    <th class="heading">Issue Date</th>
                                    <th class="heading">Due Date</th>
                                    <!-- <th class="heading">Self-Renewal Date</th> -->
                                    <th class="heading">Fine</th>
                                    <th class="heading">Renew Book</th>
                                    
                                </tr>
        
                                {% for i in rec %}
                                {% set row = rec[loop.index-1] %}
                                {% set rw = rec2[loop.index-1] %}
                                <tr class="row12">
                                    <td class="heading">{{ row[0] }}</td>
                                    <td class="heading">{{ row[1] }}</td>
                                    <td class="heading">{{ row[2] }}</td>
                                    <td class="heading">{{ row[6] }}</td>
                                    <td class="heading">{{ row[7] }}</td>
                                    <!-- {% if res_date %}
                                    <td class="heading">{{ res_date }}</td>
                                    {% endif %} -->
                                    <td class="heading">{{ rw }}</td>
                                    <form method="POST" id="form1" action="{{ url_for('renew', id = row[0]) }}">
                                    <td class="heading"><button>Renew Book</button></td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
    
                    <div class="container" style="clear: both;">
                        <br>
                        <h3>Reserved Book Details</h3>
                        <div class="table-responsive">
                            <table class="BookDetails">
                                <tr class="row1" style="background-color: rgb(166, 107, 221);">
                                    
                                    <th class="heading">Book ID</th>
                                    <th class="heading">Reserve Date</th>
                                    <th class="heading">Cancel Reservation</th>
                                </tr>

                                {% for j in rec3 %}
                                <tr class="row12">
                                    <td class="heading">{{ j[1] }}</td>
                                    <td class="heading">{{ j[2] }}</td>
                                    <form method="POST" id="form1" action="{{ url_for('cancel_resv_book', id = j[1]) }}">
                                        <td class="heading"><button>Cancel Reservation</button></td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div id=form2>
                    <div class="container" style="clear: both;">
                        <br>
                        <h3>CD Details</h3>
                        <div class="table-responsive">
                            <table class="BookDetails">
                                <tr class="row1" style="background-color: rgb(166, 107, 221);">
                                    <th class="heading">CD ID</th>
                                    <th class="heading">Title</th>
                                    <th class="heading">Author</th>
                                    <th class="heading">Issue Date</th>
                                    <th class="heading">Due Date</th>
                                    <!-- <th class="heading">Self-Renewal Date</th> -->
                                    <th class="heading">Fine</th>
                                    <!-- <th class="heading">Renew CD</th> -->
                                    
                                </tr>
        
                                {% for i in rec4 %}
                                {% set row = rec4[loop.index-1] %}
                                {% set rw = rec5[loop.index-1] %}
                                <tr class="row12">
                                    <td class="heading">{{ row[0] }}</td>
                                    <td class="heading">{{ row[1] }}</td>
                                    <td class="heading">{{ row[2] }}</td>
                                    <td class="heading">{{ row[7] }}</td>
                                    <td class="heading">{{ row[8] }}</td>
                                    <!-- {% if res_date %}
                                    <td class="heading">{{ res_date }}</td>
                                    {% endif %} -->
                                    <td class="heading">{{ rw }}</td>
                                    <!-- <form method="POST" id="form1" action="">
                                        <td class="heading"><button>Renew Book</button></td>
                                    </form> -->
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="container" style="clear: both;">
                        <br>
                        <h3>Reserved CD Details</h3>
                        <div class="table-responsive">
                            <table class="BookDetails">
                                <tr class="row1" style="background-color: rgb(166, 107, 221);">
                                    
                                    <th class="heading">CD ID</th>
                                    <th class="heading">Reserve Date</th>
                                    <th class="heading">Cancel Reservation</th>
                                    
                                </tr>

                                {% for j in rec6 %}
                                <tr class="row12">
                                    <td class="heading">{{ j[1] }}</td>
                                    <td class="heading">{{ j[2] }}</td>
                                    <form method="POST" id="form1" action="{{ url_for('cancel_resv_cd', id = j[1])}}">
                                        <td class="heading"><button>Cancel Reservation</button></td>
                                    </form>
                                    
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        </center>
        <script>

            $(window).bind("pageshow", function(event) {
                if (event.originalEvent.persisted) {
                    window.location.reload();
                }
            });            

            var radios = document.getElementsByName("radio");
            var book = document.getElementById("form1");
            var cd = document.getElementById("form2");
            
            
            book.style.display = 'block';
            cd.style.display = 'none';
            
            for(var i = 0; i < radios.length; i++) {
                radios[i].onclick = function() {
                    var val = this.value;
                    if(val == 'radio1'){  
                        book.style.display = 'block';
                        cd.style.display = 'none';
                        
                    }
                    else if(val == 'radio2'){
                        book.style.display = 'none';
                        cd.style.display = 'block';
                        
                    }   
                }
            }
            
        </script>
    </body>
</html>