<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catalogue</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/admin_func.css"> 
      
    </head>
    <body>
        <div class="topnav">
            <a href="/adminpage">Admin Page</a>
            <a href="{{ url_for('display', title = 'Books') }}">Books</a>
            <a href="{{ url_for('display', title = 'CD') }}">CDs</a>
            <a class="active" href="{{ url_for('display', title = 'Magazine') }}">Magazines</a>
            <a href="{{ url_for('display', title = 'Journal') }}">Journals</a>
        </div>
        <center>
            <input type="text" id="myInput" onkeyup="SearchFunction()" placeholder="Search for Magazines">   
            <h2 style="color: white;">Magazines catalogue</h2>
            <div>
                <table id="myTable" class="table table-hover" style='width: 700px; border: 3px solid white;'>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"><b>Magazine ID</b></th>
                            <th scope="col"><b>Title</b></th>
                            <th scope="col"><b>Company</b></th>
                            <th scope="col"><b>Category</b></th>h>
                            <th scope="col"><b>Price</b></th>
                            <th scope="col"><b>Release Date</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in record %}
                            <tr>
                                <th scope="row">{{ row[0] }}</th>
                                <td><b>{{ row[1] }}</b></td>
                                <td><b>{{ row[2] }}</b></td>
                                <td><b>{{ row[3] }}</b></td>
                                <td><b>{{ row[4] }}</b></td>
                                <td><b>{{ row[5] }}</b></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>    
        </center>
        <script>
            function SearchFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
            
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
        </script>

    </body>
</html>